mat-icon {
  // padding-top: 6px;
  width: 1em;
  height: 1em;
  font-size: 2em;
  top: 12px;
  position: relative;

  // margin: 20px auto;
}

button {
  margin: 20px auto 10px;
}

.title {
  margin: 0 auto;
  width: 120px;
}
