.image-preview > * {
  max-width: 100%;
}
mat-form-field {
  width: 100%;
}

.div-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
}
.image-preview {
  width: 50px;
}

.section__delete {
  margin-top: 2em;
  text-align: right;
}

mat-card {
  display: flex;
  justify-content: center;
}

form {
  width: 75%;
  max-width: 800px;
}
